@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.todo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 400px;
    max-width: 100%;
    width: 600px;
}

h1 {
    color: rgb(179, 131, 226);
    font-size: 6rem;
    opacity: 0.4;
    text-align: center;
}

.todo-form {
    min-width: 400px;
    max-width: 100%;
    width: 600px;
}

.todo-input {
    background-color: rgb(179, 131, 226);
    border: none;
    border-radius: 5px;
    color: #444;
    font-size: 2rem;
    padding: 1rem 2rem;
    width: 100%; 
}

.todo-input::placeholder {
    color: #dad8d8;
    font-style: italic;
    font-size: 1.5rem;
}

.todo-input:focus {
    color: #fff;
    outline-color: rgb(98, 173, 244);
}

.todo-list {
    width: 100%;
}

.todo-item {
    background-color: transparent;
    border: 1px solid rgb(179, 131, 226);
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    overflow: hidden;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    width: 100%;
    position: relative;
    display: block;
}

.todo-item:before {
    content: attr(data-hover) " ";
    color: rgb(179, 131, 226);
    font-size: 1rem;
    width: max-content;
    opacity: 0;
    position: absolute;
    left: 2rem;
    top: 70%;
    z-index: 10;
    visibility: hidden;
    transition: opacity 1s ease-in;
}

.todo-item:hover {
    background-color: rgba(179, 131, 226, 0.1);
}

.todo-item:hover:before {
    visibility: visible;
    opacity: 1;
}

.todo-item.completed {
    color: #b6b6b6;
    text-decoration: line-through;
}

small {
    color: #b5b5b5;
    margin-top: 2rem;
    text-align: center;
}